@using EM.Domain
@using EM.Domain.Enums
@model EM.Domain.Aluno
@{
	ViewData["Title"] = "Relatório";
}

<h1 style="text-align:center;">Relatório de Alunos</h1>

<div class="dev-form">
	<form class="row g-3 needs-validation" role="GerarRelatorio" action="Relatorio/GerarRelatorio" method="post">
		<div>
			<label for="Cidade">Filtro por Cidade</label>
			<select name="ID_Cidade" class="form-select" aria-label="Default select example">
				<option selected>Selecione</option>
				@foreach (var cidade in ViewBag.Cidades)
				{
					<option value="@cidade.ID_Cidade">@cidade.Nome - @cidade.UF</option>
				}
			</select>
		</div>
		<div class="col-md-6">
			<label for="Sexo">Filtro por Sexo</label>
			<select name="Sexo" class="form-select" class="Sexo" aria-label="Default select example">
				<option selected>Selecione</option>
				@foreach (var obj in Enum.GetValues(typeof(Sexo)))
				{
					<option value="@obj">@obj</option>
				}
			</select>
		</div>
		<div class="col-md-6">
			<label for="ordem">Ordenar</label>
			<select id="Ordem" name="Ordem" class="form-select">
				<option selected>Selecione</option>
				<option value="Nome">Nome</option>
				<option value="Cidade">Cidade</option>
				<option value="UF">Estado</option>
			</select>
		</div>
		<div>
			<button type="submit" class="btn botao-btn-azul" asp-area="" asp-controller="Relatorio" asp-action="GerarRelatorio">Gerar Relatório</button>
			<a class="btn botao-btn-cinza" asp-controller="Home" asp-action="Index">Voltar</a>
		</div>
	</form>
</div>


